[Unit]
Description=Weather Archiver Collector
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/weather/server/archiver/collector.js /opt/weather/server/secrets.txt
ExecReload=kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

