[Unit]
Description=Weather Archiver Collector Snapshots Fetcher

[Timer]
OnCalendar=*-*-* 02:00:00
OnCalendar=*-*-* 04:00:00
RandomizedDelaySec=5m
Persistent=true

[Install]
WantedBy=timers.target
