[Unit]
Description=Weather Archiver Server HTTP Service
Wants=network-online.target
After=network-online.target
Requires=weather-archiver-storage.service
After=weather-archiver-storage.service

[Service]
Type=simple
ExecStart=/opt/weather/server/http/server-archiver.js /opt/weather/server/secrets.txt
TimeoutStopSec=10s
KillMode=mixed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

