[Unit]
Description=Weather Daily Script
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /opt/weather/server/scripts/daily
SuccessExitStatus=0
Nice=+10

[Install]
WantedBy=multi-user.target
