[Unit]
Description=HTTP server
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/weather/server/http/main.js
ExecReload=kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

