[Unit]
Description=syslog server
Wants=network-online.target
After=network-online.target

[Service]
Restart=on-success
ExecStart=/usr/bin/socat -u UDP-RECV:514 STDOUT

[Install]
WantedBy=multi-user.target
