[Unit]
Description=Weather Archiver Collector Service
Wants=network-online.target
After=network-online.target
Requires=weather-archiver-storage.service
After=weather-archiver-storage.service

[Service]
Type=simple
ExecStart=/opt/bin/weather/weather-archiver-collector.js /opt/weather/server/secrets.txt
TimeoutStopSec=15s
KillMode=mixed
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

