[Unit]
Description=Weather Archiver Storage Service
Requires=opt-storage-usb1.mount opt-storage-usb2.mount
After=opt-storage-usb1.mount opt-storage-usb2.mount

[Service]
Type=oneshot
ExecStart=/bin/true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
