[Unit]
Description=Snapshots Publisher
Wants=network-online.target
After=network-online.target mosquitto.service
Requires=mosquitto.service

[Service]
Type=simple
ExecStart=/opt/weather/snapshots/publisher.js
ExecReload=kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target

