[Unit]
Description=Weather Snapshots Publisher
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/weather/server/snapshots/publisher /opt/weather/server/secrets.txt
ExecReload=kill -HUP $MAINPID
KillMode=process
Restart=on-failure
RestartSec=5s
Nice=-10
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=50

[Install]
WantedBy=multi-user.target

