[Unit]
Description=Weather Archiver Collector Snapshots Fetcher
After=network.target
Requires=archiver-storage.service
After=archiver-storage.service

[Service]
Type=oneshot
ExecStart=/opt/weather/server/archiver/tools/collector-snapshots-fetcher.yesterday 
SuccessExitStatus=0

[Install]
WantedBy=multi-user.target
