<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapshots</title>
    <link rel="stylesheet" href="/static/css/snapshot.css">
</head>

<body>
    <h1>Snapshots</h1>
    <div class="item-list">
        <% formattedDates.forEach(function(date) { %>
			<div class="item-entry">
            	<a href="/snapshot/list/<%= date.dateCode %>">
                	<%= date.formattedDate %>
            	</a>
    		</div>
         <% }); %>
    </div>
</body>

</html>
