<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
	<link rel="icon" type="image/png" href="/static/images/weather-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link href="/static/css/mainview.css" rel="stylesheet">
</head>
<body>
    <div class="dashboard" id="weather-dashboard"></div>
<%- include('secrets.ejs') %>
    <script src="/static/js/mainview-funcs.js"></script>
    <script src="/static/js/mainview-push.js"></script>
    <script src="/static/js/mainview-config.js"></script>
    <script src="/static/js/mainview.js"></script>
    <script>
        create(
            <%- JSON.stringify(vars) %>,
            <%- JSON.stringify(data) %>
        );
    </script>
</body>
</html>
