<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapshots</title>
    <link href="/static/css/snapshot.css" rel="stylesheet">
</head>
<body>
    <h1>Snapshots</h1>
    <div class="item-list">
        <% entries.forEach(entry => {%>
			<div class="item-entry">
            	<a href="/snapshot/list/<%= entry.dateCode %>">
                	<%= entry.dateFormatted %>
            	</a>
    		</div>
         <% }); %>
    </div>
</body>
</html>
