<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapshots: <%= dateFormatted %></title>
    <link href="/static/css/snapshot.css" rel="stylesheet">
</head>
<body>
    <h1>Snapshots: <%= dateFormatted %></h1>
    <div class="item-list">
        <% entries.forEach(entry => {%>
            <div class="item-entry">
                <span class="item-detail">
                    <%= entry.timeFormatted %>
                </span>
                <a href="/snapshot/file/<%= entry.file %>" target="_blank">View Image</a>
            </div>
        <% }); %>
    </div>
</body>
</html>
