<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Snapshots: <%= formattedDate %>
    </title>
    <link rel="stylesheet" href="/static/css/snapshot-date.css">
</head>

<body>
    <h1>Snapshots: <%= formattedDate %>
    </h1>
    <div class="snapshot-container">
        <% snapshots.forEach(function(snapshot) { %>
            <div class="snapshot-row">
                <span class="snapshot-time">
                    <%= snapshot.formattedTime %>
                </span>
                <a href="/snapshot/file/<%= snapshot.filename %>" target="_blank">View Image</a>
            </div>
            <% }); %>
    </div>
</body>

</html>